<h1> Add  a movie </h1>

<%= simple_form_for [ @movie ] do |f| %>
  <%= f.input :title %>
   <%= f.input :overview %>
    <%= f.input :poster_url %>
    <%= f.input :rating %>
  <%= f.submit "Submit movie", class: "btn btn-primary" %>
<% end %>

 <%= link_to "back", movies_path %>
